.mobile-navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  padding: 1rem;

  color: $body-text-light;
  transition: left 0.3s;

  .container {
    margin-top: 12rem;
  }

  &.closed {
    left: -100%;
  }

  @media (min-width: 821px) {
    left: -100%;
  }
}
