.projects-section {
  .heading--lead,
  .heading--h2 {
    text-align: center;
  }
  .heading--h2,
  .heading--h3,
  .heading--h4 {
    color: $heading-dark;
  }

  .body-text {
    color: $body-text-dark;
  }
}
