@import './variables';
@import './typography';
@import './components';

// Reset
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-size: clamp(1.6rem, 3vw, 2rem);
  line-height: 1.618;
  background-color: $dark-color;
}
