.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  @include hoz-padding;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom $time, background-color $time;

  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &.closed {
    bottom: -100%;
  }

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $error-color;
  }

  &__icon {
    display: grid;
    place-content: center;

    svg {
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.4;
  }

  .btn {
    color: inherit;
  }
}
