.list-group {
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
      min-width: 20rem;

      a {
        text-transform: capitalize;
      }

      @media (max-width: $mobile) {
        min-width: 18rem;
      }

      &.image::before {
        display: inline-block;
        content: url('../../../public/svg/list-img.svg');
        margin-right: 1rem;
      }
    }
  }
}
