.contact-section {
  @include full-bottom-padding;
  position: relative;

  .container {
    background-color: #fff;
    border-radius: 4.3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12rem;

    @media (max-width: 1176px) {
      gap: 8rem;
    }

    @media (max-width: $mobile) {
      border-radius: 2.3rem;
      gap: 4rem;
    }
  }

  .article__header {
    flex: 1 1 40rem;
    text-align: left;
  }

  .heading--h2 {
    color: $heading-dark;
  }

  .body-text {
    margin: 0;
    max-width: 55rem;
  }

  .form {
    flex: 1 1 40rem;
  }

  .form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .btns {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
