@mixin full-top-padding {
  padding-top: 12rem;

  @media (max-width: $laptop) {
    padding-top: 8rem;
  }

  @media (max-width: $tablet) {
    padding-top: 6rem;
  }
  @media (max-width: $mobile) {
    padding-top: 4rem;
  }
}
