.mobile-icon {
  width: 3.2rem;
  height: 3.2rem;
  display: grid;
  place-content: center;
  overflow: hidden;
  cursor: pointer;

  div {
    width: 3.2rem;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 0.3s;
  }

  div:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  div:nth-child(2) {
    transform: translateX(-5rem);
  }
  div:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
  }

  &.closed {
    div:nth-child(1) {
      transform: translateY(-8px);
    }
    div:nth-child(2) {
      transform: translateY(0);
    }
    div:nth-child(3) {
      transform: translateY(8px);
    }
  }
}
